@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 10, 10, 10;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 245, 245, 245;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 10, 10, 10;
}
